[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sympy = "*"
scipy = "*"
jupyter = "*"
islp = "*"
seaborn = "*"
statsmodels = "*"
scikit-learn = "*"
matplotlib = "*"
geopandas = "*"
folium = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
