[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sympy = "*"
scipy = "*"
jupyter = "*"
islp = "*"
seaborn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
